
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Categoria</th>
          <th scope="col">Editar</th>
          <th scope="col">Remover</th>
        </tr>
      </thead>
      <tbody *ngFor="let produto of produtos">
        <tr>
          <td>{{produto.nome}}</td>
          <td>{{produto.quantidade}}</td>
          <td>{{produto.categoria}}</td>
          <td><span role="button" class="material-icons materials-big text-primary" (click)="edit(produto.id)">edit</span></td>
          <td><span role="button" class="material-icons materials-big text-danger" (click)="delete(produto.id)">delete</span></td>
        </tr>
      </tbody>
    </table>
  <a class="btn btn-primary" routerLink="produto"><span
      class="material-icons">add</span>Novo Produto</a>

